<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-6">
    <h1>Sign Up</h1>
    <form (ngSubmit)="submitForm(form)" #form="ngForm">
      <div class="form-group">
        <label for="firstName">First Name:</label>
          <input type="text"  name="first_name" class="form-control" placeholder="Enter First Name" ngModel required>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
          <input type="text" name="last_name" class="form-control" placeholder="Enter Last Name" ngModel required>
      </div>
      <div class="form-group">
        <label for="email">Email-Id:</label>
          <input type="email" name="email" class="form-control" placeholder="Enter Email-Id" ngModel email required #email="ngModel">
          <span *ngIf="!email.valid && email.touched"class="help-block">Please enter valid email address</span>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
          <input type="password" name="password" class="form-control" placeholder="Enter Password" ngModel required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
          <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" ngModel required>
      </div>
      <div class="form-group">
        <label for="contactNo">Contact no:</label>
          <input type="text" name="contact_no" class="form-control" placeholder="Enter Contact Number" ngModel required>
      </div>
      <div class="form-group">
        <label for="profilePicture"> Upload Profile Picture:</label>
          <input type="file" name="profile_picture" class="form-control-file" id="profile_picture" ngModel>
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-primary">Register</button>
      </div>

      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </form>
    </div>
  </div>

</div>
