<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <input type="button" name="register" class="btn btn-primary" value="Register" routerLink="register" routerLinkActive="active" style="margin-right: 10px">
      <input type="button" name="login" routerLinkActive="active" class="btn btn-primary" value="Login" routerLink="login">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </div>
</nav> -->

<!-- Below exmaple is of content projection-->
<!-- <app-exercise-form>
  <header>
    <P>I m projected content</P>
  </header>
  <footer>
    <p>I m another projected content</p>
  </footer>
</app-exercise-form> -->
 <router-outlet></router-outlet>
 <!-- <div>
   <app-subscribers-list></app-subscribers-list>
 </div> -->
  <img class="banner" src="assets/images/home.jpg">
